.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: red;
}

.nav :global(.active) {
  background-color: green;
}
:global(.test) {
  background-color: red;
}
